<div>
    <md-progress-circular ng-show="vm.loadingChart" class="md-hue-3 chart_spinner" md-mode="indeterminate"></md-progress-circular>
</div>
<md-content layout-padding>
    <div layout="column">
        <span>
    <label class="ep_pLabel">Main Experimenter ID (Experiment Ownwer): </label>
    <label class="ep_bLabel"> {{vm.mainExperimenterId}} </label>
    </span>
        <span>
    <label class="ep_pLabel">Current Experimenter ID: </label>
    <label class="ep_bLabel"> {{vm.currentExperimenterId}} </label>
  </span>
        <span>
    <label class="ep_pLabel">Experiment ID: </label>
    <label class="ep_bLabel"> {{vm.experimentInfo.experimentId}} </label>
  </span>
        <span>
    <label class="ep_pLabel">Registration Time: </label>
    <label class="ep_bLabel"> {{vm.registrationTime}} </label>
  </span>
        <br>
        <br>
        <md-button style="float:left; width:230px;" ng-show="vm.showToken === false" style="float:right" class="md-flat" ng-click="vm.showToken=true"> Show experiment credentials  </md-button>

        <md-button style="float:left; width:230px;" ng-show="vm.showToken === true" style="float:right" class="md-flat" ng-click="vm.showToken=false"> Hide experiment credentials </md-button>
        <!--textarea style="width:100%; wiheight:150pt;" ng-show="vm.showToken === true" ng-readonly="true" ng-trim="false" name="token" required ng-model="vm.token"></textarea-->
        <span ng-show="vm.showToken === true" >
            <label class="ep_pLabel">Client ID: </label>
            <label class="ep_bLabel"> {{vm.clientInfo.client_id}} </label>
        </span>            
        <span ng-show="vm.showToken === true" >
            <label class="ep_pLabel">Client Secret: </label>
            <label class="ep_bLabel"> {{vm.clientInfo.client_secret}} </label>
        </span>

        <br>

        <div ng-if="vm.mainExperimenterId===vm.currentExperimenterId">
        <md-button style="float:left; width:180px;" ng-show="!vm.newExper" style="float:right" class="md-flat" 
        ng-click="vm.newExper=true"> Add New Experimenter </md-button>

        <br>
        <div ng-show="vm.newExper">
        <label class="ep_pLabel">Provide the e-mail of the new experimenter</label>
        <form  name="vm.newExperForm" novalidate style="width:100%">
        <md-input-container class="md-block">
            <label>Experimenter email</label>
            <input type="email" name="email" required ng-model="vm.newExperimenter">
            <div ng-messages="!vm.newExperForm.email.$pristine && vm.newExperForm.email.$error">
                <div ng-message="required">Email is required</div>
            </div>


        </md-input-container>
        <md-button style="float:left" class="md-flat md-primary" ng-click="vm.addExperCancel()" > Cancel </md-button>
        <md-button style="float:right" class="md-flat md-primary" ng-disabled="vm.newExperForm.email.$pristine" ng-click="vm.addExper()" style="float:left"> Add Experimenter</md-button>
        
        </form>
        </div>
        <br>
        <br>
    </div>


    <div layout+"row">
        <img ng-src="{{vm.icon}}" width="50px" alt="logo" />
        <md-button ngf-select ngf-change="vm.submit($files)">CHANGE EXPERIMENT ICON</md-button>
    </div>
    <hr/>
    <div ng-show= "vm.somethingChanged() || !vm.expInfoForm.$pristine">
                <br>
        <label  class="ep_warn">
            You have modified the experiment. Do not forget to update it to save the changes!
        </label> 
        <br>

    </div>
    <br>
    <br>
    <form name="vm.expInfoForm" novalidate style="width:100%">
        <md-input-container class="md-block">
            <label>Experiment Name</label>
            <input md-maxlength="40" name="name" required ng-model="vm.currentInfo.name">
            <div ng-messages="!vm.expInfoForm.name.$pristine && vm.expInfoForm.name.$error">
                <div ng-message="md-maxlength">Name is limited to 40 characters</div>
                <div ng-message="required">Name is required</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Description</label>
            <textarea md-maxlength="2000" ng-trim="true" name="description" required ng-model="vm.currentInfo.description"></textarea>
            <div ng-messages="!vm.expInfoForm.description.$pristine && vm.expInfoForm.description.$error">
                <div ng-message="md-maxlength">Description is limited to 2000 characters</div>
                <div ng-message="required">Description is required</div>
            </div>
        </md-input-container>
        <md-checkbox ng-model="vm.currentInfo.assetsPublic" aria-label="Are Experiment Assets Public?">
            Are experiment Assets Public?
        </md-checkbox>
        <span layout="row">
        <md-input-container class="md-block" style="width:300px; margin-right:20px;">
            <label ng-if="vm.browser==='firefox'">Start Date (yyyy-mm-dd)</label>
            <label ng-if="vm.browser!=='firefox'">Start Date</label>
            <input name="startDate" type="date" ng-model="vm.currentInfo.startDate" />
        </md-input-container>
        <md-input-container class="md-block" style="width:300px; margin-right:20px;">
            <label ng-if="vm.browser==='firefox'">End Date (yyyy-mm-dd)</label>
            <label ng-if="vm.browser!=='firefox'">End Date</label>
            <input name="endDateTime" type="date" ng-model="vm.currentInfo.endDate" min="{{vm.currentInfo.startDate}}" />
            <div ng-if="vm.expInfoForm.endDate.$error.min" ng-messages="vm.expInfoForm.endDate.$error">
                <div ng-message="min">Expiration time must not be less than starting time</div>
            </div>
        </md-input-container>
    </span>
    </form>
    <div layout="row">
        <div style="width:40%; margin-right:10%;">
            <label class="ep_pLabel">Experiment area</label>
            <br>
            <br>
            <md-button class="md-flat md-secondary" ng-click="vm.updateArea()"> Update Area </md-button>
            <br>
            <br>
            <leaflet id="mapPreview" width="100%" height="30vh"></leaflet>
        </div>
        <div style="width:40%;">
            <label class="ep_pLabel">Experiment tags</label>
            <br>
            <br>
            <md-button class="md-flat md-secondary" ng-disabled="!vm.tagsEditing" ng-click="vm.updateTags()"> Update Tags </md-button>
            <br>
            <br>
            <div ng-if="!vm.allDomains" ng-repeat="domain in vm.domains ">
                <tag-list ng-model="domain.tags" key="name"> </tag-list>
            </div>
            <div ng-if="vm.allDomains" ng-repeat="domain in vm.domains | limitTo: vm.domainsLimit">
                <tag-list ng-model="domain.tags" key="name"> </tag-list>
            </div>
            <md-button ng-show="vm.domainsCtrl.showMore" class="md-flat" ng-click="vm.showAllDomains()">Show all</md-button>
            <md-button ng-show="vm.domainsCtrl.showLess" class="md-flat" ng-click="vm.showAllDomains()">Show less</md-button>
        </div>
    </div>
    <br>
    <br>
    <span style="width:100%">
    <md-button style="float:left" class="md-flat md-primary" ng-disabled="!vm.somethingChanged() && vm.expInfoForm.$pristine"
   ng-click="vm.UpdateExperiment()"> Update </md-button>
    <md-button style="float:right" class="md-flat md-primary" ng-disabled="!vm.somethingChanged() && vm.expInfoForm.$pristine" ng-click="vm.reset()" > Reset </md-button>
    </span>
</md-content>