<md-content layout-padding>
    <div>
        <md-progress-circular ng-show="vm.loadingChart" class="md-hue-3 chart_spinner" md-mode="indeterminate"></md-progress-circular>
    </div>
    <div>
        <md-button ng-disabled="!vm.editionEnabled" class="md-flat md-primary" ng-click="vm.addApp()">
            New Application
        </md-button>
        <br>
        <br>
    </div>
    <div ng-show="vm.showErrorLoad">
        <br>
        <br>
        <h4 style="color:red;">The experiment applications could not be loaded. Please, try again in some minutes.</h4>
        <br>
        <br>
    </div>
    <div ng-show="!vm.showErrorLoad">
        <table datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th></th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="app in vm.apps">
                    <td align="center" class="selectCell" width="10%" ng-click="vm.detail(app)">{{ app.name.toUpperCase() }}</td>
                    <td align="left" class="selectCell" width="60%" ng-click="vm.detail(app)">{{ vm.ShortDescription(app.description) }}</td>
                    <td align="center" class="selectCell" width="10%" ng-click="vm.detail(app)">{{ app.type.toUpperCase() }}</td>
                    <td align="center" ng-click="vm.detail(app)"><i class="material-icons" style="color:blue;cursor:pointer;">info</i></td>
                    <td align="center" width="10%" ng-click="vm.confirmRemove($event, app)"></td>
                </tr>
            </tbody>
        </table>
    </div>
</md-content layout-padding>
