<md-progress-circular ng-show="vm.loadingChart" class="md-hue-3 chart_spinner" md-mode="indeterminate"></md-progress-circular>

<nav class="navTags">
    <a href='#' ng-click="vm.goHome()" style="color:#EF4070; transform: translateY(6px);" class="material-icons" >home</a>  >
    <a href='#' style="color:#EF4070;" ng-click="vm.goExp()">{{vm.experimentInfo.name}}</a>
</nav>
<hr/>
<br>
<h4>Experiment Credentials </h4>
<br>

<div style="width:99%" layout="column" >
 <div>
        <label class="ep_pLabel">Client ID: </label>
        <label class="ep_bLabel"> {{vm.clientInfo.client_id}} </label>
  </div>
  <div>
  <label class="ep_pLabel">Client Secret: </label>
<label class="ep_bLabel"> {{vm.clientInfo.client_secret}} </label>
  </div>

<tags-input placeholder="Redirect URIs" ng-model="vm.redirectUris" on-tag-added="vm.change()" on-tag-removed="vm.change()"> </tags-input>

<br>
<br>

</div>
<md-button style="float:left; " class="md-flat md-secondary" ng-disabled="!vm.somethingChanged" ng-click="vm.updateUrns()"> Update redirect URNs </md-button>


