<md-content layout-padding>
<div layout="row">
    <h2>Area Edition </h2>
        <i class="material-icons" style="color:green;cursor:pointer;margin-left:20px" ng-click="vm.showInfo()">info</i>
</div>  

    <div ng-if="!vm.isNew">
        <table datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="row-border hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Min</th>
                    <th>Max</th>
                    <th>Weigth</th>
                    <th>Remove</th>
                    <th>Load Region</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="region in vm.regions">
                    <td align="center">{{ region.name }}</td>
                    <td align="center">{{ region.startDate| date:'MM/dd/yyyy' }}</td>
                    <td align="center">{{ region.endDate| date:'MM/dd/yyyy' }}</td>
                    <td align="center">{{ region.min }}</td>
                    <td align="center">{{ region.max }}</td>
                    <td align="center">{{ region.weight }}</td>
                    <td align="center" ng-click="vm.remove($event, region)"></td>
                    <td align="center" ng-click="vm.detail(region)"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <leaflet ng-show="vm.showMap" id="regionEdition" controls="controls" layers="layers" width="100%" height="50vh" lf-center="center"></leaflet>
    <div ng-show="vm.currRegion !== null || vm.newRegion !== null">
    <div layout="row">
    <md-radio-group  ng-model="vm.options" layout="row" ng-init=" vm.options = 'default'">
        <md-radio-button value="default" class="md-primary">Default</md-radio-button>
        <md-radio-button value="advanced" class="md-primary">Advanced Options</md-radio-button>
    </md-radio-group>
    <i class="material-icons" style="color:blue;cursor:pointer; margin-top:10px;margin-left:20px" ng-click="vm.showInfoAdvance()">info</i>
    </div>
    <p ng-show="vm.infoAdvance" class="ep_info">The advanced options will let treat each region individually by setting
    specific start and end dates, define a generic importance rank of the regions and by defining accounting limits
    for each region. </p>
    <form name="vm.newRegionForm" novalidate>
        <md-input-container ng-show="!vm.isNew" class="md-block">
            <label>Region Name </label>
            <input md-maxlength="40" required ng-model="vm.currRegion.name">
        </md-input-container>
        <md-input-container ng-show="vm.isNew" class="md-block">
            <label>Region Name </label>
            <input md-maxlength="40" name="nameNew" required ng-model="vm.newRegion.name">
        </md-input-container>
        <span layout="row" ng-show="vm.options === 'advanced'">
        <md-input-container ng-show="!vm.isNew"  class="md-block" style="width:300px; margin-right:20px;">
            <label ng-if="vm.browser==='firefox'">Start Date (yyyy-mm-dd)</label>
            <label ng-if="vm.browser!=='firefox'">Start Date</label>
            <input type="date" ng-model="vm.currRegion.startDate"/>
        </md-input-container>
        <md-input-container ng-show="vm.isNew"  class="md-block" style="width:300px; margin-right:20px;">
            <label ng-if="vm.browser==='firefox'">Start Date (yyyy-mm-dd)</label>
            <label ng-if="vm.browser!=='firefox'">Start Date</label>
            <input type="date" ng-model="vm.newRegion.startDate"/>
        </md-input-container>
        <md-input-container ng-show="!vm.isNew" class="md-block" style="width:300px;">
            <label ng-if="vm.browser==='firefox'">End Date (yyyy-mm-dd)</label>
            <label ng-if="vm.browser!=='firefox'">End Date</label>
            <input type="date" ng-model="vm.currRegion.endDate"/>
        </md-input-container>
        <md-input-container ng-show="vm.isNew" class="md-block" style="width:300px;">
            <label ng-if="vm.browser==='firefox'">End Date (yyyy-mm-dd)</label>
            <label ng-if="vm.browser!=='firefox'">End Date</label>
            <input type="date" ng-model="vm.newRegion.endDate"/>
        </md-input-container>
        </span>
        <span layout="row" style="width:100%" ng-if="vm.options === 'advanced'">
        <md-input-container ng-show="!vm.isNew" class="md-block" style=" margin-right:20px;">
            <label>Min Samples</label>
            <input type="number" ng-model="vm.currRegion.min">
        </md-input-container>
        <md-input-container ng-show="vm.isNew" class="md-block" style=" margin-right:20px;">
            <label>Min Samples</label>
            <input type="number" ng-model="vm.newRegion.min">
        </md-input-container>

        <md-input-container ng-show="!vm.isNew" class="md-block" style=" margin-right:20px;">
            <label>Max Samples</label>
            <input  type="number" ng-model="vm.currRegion.max">
        </md-input-container>
        <md-input-container ng-show="vm.isNew"  class="md-block" style=" margin-right:20px;">
            <label>Max Samples</label>
            <input type="number" ng-model="vm.newRegion.max">
        </md-input-container>

        <md-input-container ng-show="!vm.isNew"  class="md-block">
            <label>Region Importance</label>
            <input type="string" ng-model="vm.currRegion.weight">
        </md-input-container>
        <md-input-container ng-show="vm.isNew"  class="md-block">
            <label>Region Importance</label>
            <input type="string" ng-model="vm.newRegion.weight">
        </md-input-container>
        </span>
    </form>
    <br>
    <br>
</div>
    <md-button ng-show="vm.isNew" class="md-flat md-secondary" ng-disabled="vm.newRegionForm.nameNew.$invalid ||
    vm.newRegion.coordinates.length === 0" ng-click="vm.addRegion()"> Add Region </md-button>
    <md-button ng-show="!vm.isNew" class="md-flat md-secondary" ng-click="vm.startNewRegion()"> Create New Region </md-button>
    <br>
    <br>
    <span style="width:100%">
    <md-button style="float:left" class="md-flat md-primary" ng-click="vm.cancel()"> Cancel </md-button>
    <md-button style="float:right" class="md-flat md-primary" ng-click="vm.done()"> Done </md-button>
    </span>
</md-content>